#footer {
    max-width: 100%;
    height: 25rem;
    background-image: url(../images/3d-earth.jpg);
    background-size: cover;
    color: white;
}

#footerDiv {
    width: 80%;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 6rem 0;
}


#footer1 {
    width: 30%;
    height: auto;
}

#footer1 h3 {
    margin-bottom: 1.5rem;
}

#footer1 p {
    font-size: small;
    margin-bottom: .3rem;
}


#footer2 {
    width: 30%;
    height: auto;
    text-align: center;
}

#followUSIcons {
    display: flex;
    justify-content: space-between;
}

#footer2 h3 {
    margin-bottom: 1.5rem;
}

#footer2 p {
    font-size: 2.2rem;
}


#footer3 {
    width: 30%;
    height: auto;
}

#footer3 h3 {
    margin-bottom: 1.5rem;
}

#footer3 p {
    font-size: small;
    margin-bottom: .3rem;
}

@media (max-width: 1000px) {
    #footer {
        max-width: 100%;
        height: auto;
        background-image: url(../images/3d-earth.jpg);
        background-size: cover;
        color: white;
    }
    #footerDiv {
        width: 80%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        margin: auto;
        padding: 6rem 0;
    }
}


@media (max-width: 500px) {
    #footer {
        max-width: 100%;
        height: auto;
        background-image: url(../images/3d-earth.jpg);
        background-size: cover;
        color: white;
    }
    #footerDiv {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
        margin: 0;
    }
}