#subscribe {
    width: 100%;
    height: 20rem;
    margin-top: 3rem;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    color: rgb(31, 31, 80);
}

#subscribe2 img {
    height: 100%;
    object-fit: cover;
}

#subscribe1 {
    max-width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    padding: 3rem 7rem;
}

#subscribe2 {
    max-width: 50%;
    height: 100%;
    /* border: 2px solid red; */

}


#emailSub {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

#emailSub input {
    border: 1px solid gray;
    width: 20rem;
    height: 3rem;
    text-align: center;
    font-size: .7rem;
    border-radius: .7rem;
    transition: 0.4s;
}

#emailSub input:hover {
    letter-spacing: 1px;
}

#emailSub button {
    color: white;
    background-color: rgb(31, 31, 80);
    border: none;
    width: 8rem;
    font-size: .7rem;
    border-radius: .7rem;
    cursor: pointer;
    transition: 0.4s;
}

#emailSub button:hover {
    color: rgb(31, 31, 80);
    letter-spacing: 1px;
    background-color: white;
    border: 1px solid rgb(31, 31, 80);
}

#subscribe1 h1 {
    margin-bottom: 2rem;
}


@media (max-width: 1000px) {
    #subscribe {
        width: 100%;
        height: auto;
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        color: rgb(31, 31, 80);
    }
    #subscribe2 img {
        height: 20rem;
        object-fit: cover;
    }
}

@media (max-width: 500px) {
    #subscribe {
        width: 100%;
        height: auto;
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        color: rgb(31, 31, 80);
    }
    #subscribe2 img {
        height: 10rem;
        object-fit: cover;
    }
    #emailSub {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    #subscribe1 {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 1rem;
    }
}